body {
  background-color: #F1F0EE;
  margin: 0;
  text-align: center;
}

 .marigold-bunting {

   width: 100%;
}

.ganesh svg {
  height: 150px;
padding-top: 40px;
  display: block;
  margin: auto;
  fill:black;
}

h1 {
font-family: 'Dancing Script', cursive;
text-align: center;
font-size: 120px;
color: #70063D;
margin: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.peacock-headline {
  color: #253848;
}

.h1-tag {
  font-size: 60px;
}

.reception-background {
  background-color: #FEFBF6;
}

.peacock {
  margin-top:30px;
}

p {
  font-size: 14px;
  font-family: 'Georama', sans-serif;
}

.main-copy {
  width: 80%;
  margin: auto;
}
