body {
  background-color: #F1F0EE;
  margin: 0;
}

 .marigold-bunting {

   width: 100%;
}

.ganesh svg {
  height: 150px;
padding-top: 40px;
  display: block;
  margin: auto;
  fill:black;
}

h1 {
  text-align: center;
}
